<html>
    <h2>Teams</h2>
    <% @teams.each do |team| %>
        <h3>Team <%= team.name %></h3>
            <% team.mercs.each do |merc| %>
                <p>
                    <%= merc.first_name %>
                    [<%= merc.callsign %>]
                    <%= merc.last_name %>
                    <%= merc.bio %>
                    <%= merc.combat_performance %>
                </p>
            <% end %>
    <% end %>
    
    <h3>Missions</h3>
    <% @missions.each do |mission| %>
        <p><%= mission.name %></p>
    <% end %>
</html>